:root {
  --dark-1: #111;
  --dark-2: #333;
  --dark-3: #555;
  --dark-4: #777;
  --dark-5: #999;
}

* {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: 'Noto Sans HK', sans-serif;
  color: #fff;
  line-height: 1.5;
}

a {
  color: currentColor;
  text-decoration: none;
}

/* Nav */

.nav {
  background-color: var(--dark-2);
  height: 10.2rem;
}

/* Articles container */

.articles-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

/* Header */

.header {
  width: 60rem;
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 5rem;
}

.header span {
  background-color: var(--dark-1);
  padding: 1rem 1.5rem;
  box-decoration-break: clone;
  font-size: 3.6rem;
}

.color-change-container {
  position: absolute;
  top: 5rem;
  right: 4.2rem;
}

.color-change {
  background-color: var(--dark-4);
  width: 23.5rem;
  height: 6rem;
  border: none;
}

.article-container {
  width: 50%;
  height: 70rem;
  padding: 20rem 5vw 14rem;
}

.main-article {
  background-color: var(--dark-2);
  height: 100%;
}

.main-article-title {
  font-size: 4rem;
}

/* Other articles */

.other-articles {
  display: flex;
  flex-wrap: wrap;
}

.other-article-container {
  width: 33.33333%;
  height: 57rem;
  padding: 2rem;
}

.other-article {
  background-color: var(--dark-3);
  height: 100%;
}

.other-article-title {
  font-size: 2.5rem;
  text-decoration: underline;
}

.other-article-paragraph {
  font-size: 1.9rem;
  line-height: 3.2rem;
  margin-top: 6rem;
}

/* Two column promotion */

.two-column-promotion {
  height: 70rem;
  display: flex;
  flex-wrap: wrap;
}

.first-container {
  width: 25%;
  padding: 2rem;
}

.second-container {
  width: 75%;
  padding: 2rem;
}

.first-container .other-article {
  background-color: var(--dark-3);
  height: 100%;
}

.first {
  background-color: var(--dark-2);
  height: 100%;
}

.second {
  background-color: var(--dark-1);
  height: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.second-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
}

.second-header {
  font-size: 4.2rem;
  text-decoration: underline;
}

.second-paragraph {
  max-width: 60rem;
  font-size: 2rem;
  margin-top: 2rem;
}

/* See more */

.see-more-container {
  padding: 8rem 0 10rem 0;
  display: flex;
  justify-content: center;
}

.see-more {
  display: inline-block;
  background-color: var(--dark-5);
  font-size: 1.5rem;
  text-transform: uppercase;
  padding: 1rem;
}

/* Big box */

.big-box-container {
  height: 105rem;
  padding: 3.5rem 0;
}

.big-box {
  background-color: var(--dark-1);
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 7rem;
}

.big-box-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 4rem;
}

.big-box-date {
  font-size: 1.4rem;
  font-weight: 700;
}

.big-box-title {
  font-size: 4.8rem;
  text-decoration: underline;
  margin-top: 4rem;
}

.big-box-paragraph {
  max-width: 55vw;
  font-size: 2.2rem;
}

/* Person of the week */

.potw-container {
  height: 35rem;
  padding: 2rem;
}

.potw {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}

.potw-img-container {
  background-color: var(--dark-2);
  flex: 1;
  height: 100%;
  margin-right: 2rem;
}

.potw-text {
  background-color: var(--dark-3);
  flex: 3;
  height: 100%;
}

.potw-title {
  font-size: 1.8rem;
  font-weight: 400;
}

.potw-paragraph {
  font-size: 2rem;
  margin-top: 2.6rem;
}

/* External articles */

.external-articles {
  display: flex;
  flex-wrap: wrap;
  margin-top: 8rem;
}

.external-article-container {
  width: 50%;
  height: 38.5rem;
  padding: 2rem;
}

.external-article {
  background-color: var(--dark-3);
  height: 100%;
}

.external-article-title {
  font-size: 3rem;
}

.external-article-paragraph {
  font-size: 2rem;
  margin-top: 2rem;
}

/* Book */

.book-container {
  background-color: var(--dark-1);
  height: 40.5rem;
  padding: 5rem 7rem;
}

.book {
  height: 100%;
}

.book-text {
  max-width: 65%;
}

.book-featured-on {
  font-weight: 700;
  text-transform: uppercase;
}

.book-title {
  font-size: 4.6rem;
  text-decoration: underline;
}

.book-paragraph {
  font-size: 2rem;
  margin-top: 4rem;
}

/* Cards */

.cards-grid {
  padding: 2rem;
  margin-top: 6rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(47rem, 1fr));
  gap: 2rem;
}

.card {
  background-color: var(--dark-2);
  padding: 3.8rem;
  min-height: 47rem;
}

.card-title {
  font-size: 4.2rem;
  text-decoration: underline;
}

.card-paragraph {
  font-size: 2rem;
  margin-top: 3.5rem;
}

.card-newsletter {
  background-color: var(--dark-1);
  padding: 3.8rem;
  height: 80rem;
}

.card-newsletter-content {
  height: 100%;
  display: flex;
  align-items: flex-end;
}

.card-newsletter-text {
  height: 50%;
}

/* Footer */

.footer {
  background-color: var(--dark-1);
  height: 100vh;
  padding: 5rem;
  text-align: center;
}

.footer-topics-title {
  font-size: 1.3rem;
  text-transform: uppercase;
  margin: 2.8rem 0;
}
